@{
    ViewBag.Title = "About";
}
<h2>À propos de</h2>
<h3>Informations supplémentaires</h3>

<p>
    L'application permet la gestion d'un seul magasin contenant au départ 3 produits. Pour en savoir plus sur ces produits les options "Lister" et "Détail d'un produit" sont à votre disposition.
</p>
<p>
    Sur la page d'acceuil vous trouverez 3 boutons pour l'affichage des détails d'un produit, le troisième étant un cas particulier car il affichage les détails de tous les produits d'une catégorie.<br />
    Ces trois possibilités de méthodes de sélection permettent à l'utilisateur de retrouver plus facilement un produit pour en connaître les détails.<br />
    Noté par ailleurs que l'option "Lister" vous redirigera vers la recherche des détails d'un produit par son nom.
</p>
