@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<address>
    <strong>Alan Rivière : </strong>   <a href="mailto:Alan_Riviere@etu.u-bourgogne.fr">Alan_Riviere@etu.u-bourgogne.fr</a><br />
    <strong>Thibault Frachebois : </strong> <a href="mailto:Thibault_Frachebois@etu.u-bourgogne.fr">Thibault_Frachebois@etu.u-bourgogne.fr</a>
</address>